#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#rollDice{
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#rollDice:hover{
    background-color: hsl(210, 100%, 60%);
}

#rollDice:active{
    background-color: hsl(210, 100%, 70%);
}

input{
    font-size: 20px;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult{
    margin: 25px;
}

#diceImages img{
    width: 150px;
    margin: 5px;
}